<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Patient</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0">
  <!-- Add additional CSS in static folder -->
  {% load static %}
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/dataTables.material.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% comment %} <link href="{% static 'css/jquery-ui.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> {% endcomment %}

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  
  <!--resp is for responsive iframe design-->
  <style>
  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  </style>
</head>
<body>
{% block sidebar %}
<nav class="red darken-4" role="navigation">
<div class="nav-wrapper container">
<a href="{% url 'index' %}"><img style="margin: 0; position: absolute; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);" id="logo-container" href="#" class="center brand-logo" src="{% static 'logo/logo.png' %}"></a>
<a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
  <ul class="left hide-on-med-and-down">
    <li><a href="{% url 'index' %}"><span class="white-text">Home</span></a></li>
    <li><a href="{% url 'patient_list' %}"><span class="white-text">Patient List</span></a></li>
  </ul>
  <ul class="right hide-on-med-and-down">
    {% if user.is_authenticated %}
      <li>User: {{ user.get_username }}</li>
      <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="white-text">Logout</span></a></li>   
    {% else %}
      <li><a href="{% url 'login'%}?next={{request.path}}"><span class="white-text">Login</span></a></li>   
    {% endif %} 
  </ul>
</div>
</nav>
<ul class="sidenav" id="mobile">
    <li><a href="{% url 'index' %}">Home<i class="small material-icons">home</i></a></li>
    <li><a href="{% url 'patient_list' %}">Patient List<i class="small material-icons">people</i></a></li>
    </br>
    </br>
    </br>
    </br>
    </br>
    {% if user.is_authenticated %}
    <li><a href="#">User: {{ user.get_username }}<i class="small material-icons">person</i></a></li>
    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout<i class="small material-icons">navigate_next</i></a></li>   
    {% else %}
    <li><a href="{% url 'login'%}?next={{request.path}}">Login<i class="small material-icons">navigate_before</i></a></li>   
    {% endif %} 
</ul>
{% endblock %}

<div class="container">
  <!--content block-->
{% block content %}{% endblock %}

  <!--pagination under the content if available-->
{% comment %} {% if is_paginated %}
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;previous&nbsp; </a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span><h5><b>{{ i }}</b></h5> <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">&nbsp;{{ i }}</a>&nbsp;</li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&nbsp;next&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
  </ul>
{% endif %} {% endcomment %}
  <!--end of pagination-->
</div>

<script>
{% comment %} DataTable initialization {% endcomment %}
  $(document).ready(function() {
    $('#patientlist').DataTable();
  } );

{% comment %} Materialize datepicker initialization {% endcomment %}
  $(function () {
    $("#id_time_registered").datepicker({
      format:'mm/dd/yyyy',
      yearRange: [2015,2019],
      changeMonth: true,
      changeYear: true,
    });
  });

{% comment %} Materialize slide nav initialization (for mobile screen) {% endcomment %}
  var elem = document.querySelector('.sidenav');
  var instance = new M.Sidenav(elem);
  $(document).ready(function(){
  $('.sidenav').sidenav();
  });

  {% comment %} materialize selection javascript initialization {% endcomment %}
  $(document).ready(function() {
    $('select').formSelect();
  });

  {% comment %} initialize modal {% endcomment %}
  $(document).ready(function(){
    $('.modal').modal();
  })

</script>

</body>
</html>