{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Patient DB Homepage</h1>
  <p>Welcome to Local Patient DB, a website developed by <em>Feinz</em>!</p>
  <h2>Content</h2>
  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Patient:</strong> {{ patient_number }}</li>
    <li><strong>Patient Active:</strong> {{ patient_act }}</li>
    <li><strong>Patient RIP:</strong> {{ patient_rip }}</li>
    <li><strong>Patient MIA:</strong> {{ patient_mia }}</li>
  </ul>
  {% comment %} <a href="{%url 'patient_create' %}">Add Patient</a> {% endcomment %}

  <!-- Chart-->
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    var patient_act = {{ patient_act }};
    var patient_rip = {{ patient_rip}};
    var patient_mia = {{ patient_mia }};
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Patients Statistic'
        },
        xAxis: {
            categories: ['Active', 'RIP', 'Missing In Action']
        },
        series: [{
            name: '2019',
            data: [patient_act, patient_rip, patient_mia]
        }]
    });
  </script>
{% endblock %}