{% extends "base_generic.html" %}

{% block content %}
{% comment %} patient is from patient_list.html {% endcomment %}
  <div style="margin-left:20px;margin-top:20px">  
    <h4>{{ patient.name }} Personal Information</h4>

    IC: {{ patient.ic }}</br>
    Address: {{ patient.address }}
  </div>
  
  <div style="margin-left:20px;margin-top:20px">
    <h4>Hospital Information</h4>

    Description: {{ patient.description }}</br>
    Transfer: {{ patient.transfer }}</br>
    Patient Number: {{ patient.patientnumber }}</br>
    Patient Status: {{ patient.patientstatus }}</br>
  </div>
{% endblock %}