{% extends "base_generic.html" %}

{% block content %}
<h4>Patient List</h4>

<table class="highlight">
<tr>
<h5>Search: </h5>
<form method='GET' action='{% url "patient_list" %}'>
    <input type='text' name='q' placeholder="Search Anything" value='{{ request.GET.q }}' id='entry'>
    <button type='submit' value='Search' class='btn waves-effect waves-light'>Search <i class="material-icons right">send</i></button>
</form>
&nbspor&nbsp
<button type='button' value='Add Patient' class='waves-effect waves-light btn' onclick="window.location.href='{%url 'patient_create' %}'">Add Patient</button>
<p></p>
</tr>
</table>

<!--pagination for the top of this page-->
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;previous&nbsp; </a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span><h5><b>{{ i }}</b></h5> <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">&nbsp;{{ i }}</a>&nbsp;</li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&nbsp;next&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<!--end of pagination-->

{% comment %} <p id="urlpath"></p> {% endcomment %}

{% if patient_list %}
<table class="highlight">
<thead>
  <tr>
    <th>Name</th>
    <th>I.C Number</th>
    <th>Status</th>
    <th>Address</th>
    <th>Description</th>
    <th>Transfer</th>
    <th>Patient Number</th>
    <th>Edit/Delete</th>
  </tr>
  </thead>
  {% for patient in patient_list %}
  <tbody>
  <tr>
    <td><a href="{{ patient.get_absolute_url }}">{{patient.name}}</a></td>
    <td>{{patient.identity_card_number}}</td>
    <td>{{patient.patient_status}}</td>
    <td>{{patient.address}}</td>
    <td>{{patient.description}}</td>
    <td>{{patient.transfer}}</td>
    <td>{{patient.patient_number}}</td>
    <td>
      <button class='waves-effect waves-light btn' onclick="location.href='{{ patient.get_absolute_url }}/update/'" type="button">Update</button></br></br>
      <button class='waves-effect waves-light btn' onclick="location.href='{{ patient.get_absolute_url }}/delete/'" type="button">Delete</button>
    </td>
  </tr>
  </tbody>
  {% endfor %}

</table>
{% else %}
    <p>There is no patient registered.</p>
{% endif %}

{% endblock %}