{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ list.ic }}</h1>

  <p><strong>identity card:</strong> <a href="">{{ list.ic }}</a></p> <!-- author detail link not yet defined -->
  {% comment %} <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Language:</strong> {{ book.language }}</p>  
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>   {% endcomment %}

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% comment %} {% for copy in patient.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %} {% endcomment %}
  </div>
{% endblock %}